.main {
    text-align: center;
    padding: 2rem;
    width: 35%;
    margin: 2rem auto;
    border: 1px solid black;
    border-radius: 0 2rem 0 2rem;
    background-color: white;
  }
  
  .heading {
    background-color: blue;
    display: inline-block;
    padding: 0.2rem;
    border-radius: 0.3rem;
  }
  
  .link {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }
  
  .labelText {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #b7c9cc;
    line-height: 0.1em;
    margin: 2rem 0 2rem;
  }
  
  .connectLinks {
    display: flex;
    height: 3rem;
    justify-content: space-around;
  }
  