.main {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bg-black-900);
  margin-top: 5rem;
  z-index: 100;
  overflow: overlay;
  border-radius: var(--radius);
  box-shadow: var(--shadow-box);
}

.main button {
  background-color: var(--bg-black-100); /* Lighter background for button */
  border: none;
  color: var(--text-black-700); /* Darker text color for better contrast */
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 100;
}
