.main_nav {
  background-color: var(--bg-black-100);
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  z-index: 10;
  position: sticky;
  top: 0;
  box-shadow: 0 0 5px 1px rgb(0 0 0 / 23.5%),
    0 0 5px 1px rgb(255 255 255 / 53.5%);
}

.main_nav .nav_logo {
  margin-left: 1%;
  cursor: pointer;
}

.main_nav .nav_logo img {
  width: 5rem;
  height: 4rem;
  box-shadow: 0 0 5px 1px rgb(0 0 0 / 23.5%),
    0 0 5px 1px rgb(255 255 255 / 53.5%);
}

.main_nav .nav_links {
  display: flex;
  justify-content: space-between;
  width: 45%;
  align-items: center;
}

.main_nav .nav_links a {
  letter-spacing: 0.15rem;
  color: var(--text-black-700);
  text-decoration: none;
  font-size: 1.1rem;
  padding: 0.6rem 0.8rem;
  transition: all 0.3s ease;
}

.main_nav .nav_links a:hover,
.main_nav .nav_links a.active {
  color: var(--text-black-900);
  background-color: var(--bg-black-50);
  box-shadow: 0 0 5px 1px rgb(0 0 0 / 23.5%),
    0 0 5px 1px rgb(255 255 255 / 53.5%);
  border-radius: 10px;
  transform: scale(1.05);
}

.btn {
  background-color: var(--text-black-900);
  color: var(--bg-black-100);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px 1px rgb(0 0 0 / 23.5%),
    0 0 10px 1px rgb(255 255 255 / 53.5%);
}

.btn:hover {
  background-color: var(--bg-black-50);
  color: var(--text-black-700);
}

.btn:active {
  transform: scale(0.9);
}

.btn:disabled {
  background-color: var(--bg-black-50);
  color: var(--text-black-700);
  cursor: not-allowed;
  transform: none;
}

@media screen and (width <= 768px) {
}
