.main_nav {
    background-color: rgba(0, 0, 0, 0.5);
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    z-index: 10;
    position: sticky;
}

.main_nav .nav_logo {
    margin-left: 1%;
    cursor: pointer;
}

.main_nav .nav_logo img {
    width: 5rem;
    height: 5rem;
}

.main_nav .nav_links {
    display: flex;
    justify-content: space-between;
    width: 25%;
    align-items: center;
}

.main_nav .nav_links a {
    letter-spacing: 0.15rem;
    color: #aaa;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 0.6rem 0.8rem;
}

.main_nav .nav_links a:hover,
.main_nav .nav_links a.active {
    color: #fff;
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.235);
    border-radius: 10px;
}

.btn{
    background-color: #bbb;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: #fff;
    color: #000;
}

.btn:active{
    transform: scale(0.9);
}

.btn:disabled{
    background-color: #aaa;
    color: #fff;
    cursor: not-allowed;
    transform: none;
}
