.main_nav {
    background-color: #000;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    z-index: 10;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.235);
}

.main_nav .nav_logo {
    margin-left: 20px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_nav .nav_logo h1 {
    font-weight: lighter;
    letter-spacing: 1px;
}

.main_nav .nav_links {
    display: flex;
    justify-content: space-between;
    width: 320px;
    list-style: none;
    align-items: center;
}

.main_nav .nav_links a {
    letter-spacing: 1px;
    color: #aaa;
    text-decoration: none;
    font-size: 1.1rem;
    width: fit-content;
    padding: 0.6rem 0.8rem;
}

.main_nav .nav_links a:hover {
    color: #fff;
}

.main_nav .nav_btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

/* .main_nav .nav_btns a {
    letter-spacing: 1px;
    border: none;
    outline: none;
    text-decoration: none;
    font-size: 1.1rem;
    color: #fff;
    cursor: pointer;
    padding: 0.5rem 0;
    border-bottom: 2px solid #aaa;
}

.main_nav .nav_btns a:hover {
    border-bottom: 2px solid #fff;
} */

.btn{
    background-color: #bbb;
    color: #000;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: #fff;
    color: #444;
}

.btn:active{
    transform: scale(0.9);
}

.btn:disabled{
    background-color: #aaa;
    color: #fff;
    cursor: not-allowed;
}
